/* pages/page/data-analysis/component/wx-exercise/index.wxss */
.container-box{
	width: auto;
	height: 200px;
	border-radius: 3px;
	padding: 10px;
	margin: 25px;
	box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0px 20px 0 rgba(0, 0, 0, 0.1);
	background-color: white;
	display: flex;
	flex-direction: column;
}
ec-canvas {
  width: 100%;
  height: 100%;
}

.container-box-auto{
  height: auto;
}

.errorText{
  
  padding: 10px;
  

  
  

  
}